@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200;400;700&display=swap');

:root{
    --grey: rgb(94, 92, 92);
    --blue-dark:rgb(10, 26, 41);
    --blue-light:rgb(18, 45, 71);
    --red:rgb(250, 53, 53);
    --red-dark:rgb(129, 32, 32);
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    --naranjita:#fAA43D;
}
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
  /*fin*/
body{
    /*height: 200vh;*/
    background-color: var(--blue-dark);
    font-family: 'Saira Semi Condensed', sans-serif;
}
a.actual{
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 250ms;
    z-index: 2;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.nav-links{
    position: absolute;
    right: 0;
    top: 5vh;
    width: 60%;
    height: 70vh;
    background:var(--red-dark);/*es el color del menu hamb*/
    

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: menu_animation 500ms ease-in-out;
}
/*hacer aparecer los navlinks si la hambur es cliclead*/
.show-navlinks{
    display: flex;
}
@keyframes menu_animation{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
/*Es el 'marvel family'*/
.logo{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    color: var(--red);
    transition: 250ms;
}
header ul li{
    list-style: none;
    margin: 20px 0;
}
/*Letra de las pag sin scrollear*/
header ul li a{
    text-decoration: none;
    padding: 10px, 30px;
    font-size: 1rem;
    color: rgb(245, 242, 234);
    transition: 250ms;
    
}
/*Color de las letra con el cursor encima*/
header ul li a:hover{
    color: var(--red);
}
/*Es el navbar scrolleado*/
.sticky{
    background: var(--blue-light);
    box-shadow: 6px 6px 20px rgba(0, 0, 0,0.123);
    backdrop-filter: blur(20px);
}
/*Color de las letras de hamburguesa CUANDO SCROLLEAS*/
.sticky a{
    color:black;
}
/*Color del logo SCROLLEANDO*/
.sticky .logo{
    color: white;
}
.sticky li a:hover{
    color: var(--blanco);
}

.featured{
    width: 100%;
    height: 100vh;
    /*background-image: url(/assets/bike.jpg);*/
    
    background-color: #000;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger-on{
    background: url(/Imagenes/menu2.svg);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.card{
    padding: 20px;
    width: 95%;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}
.card h2{
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
    color: var(--blue-dark);
}

.btn{
    margin-top: 20px;
    border: none;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: 250ms;
    background: var(--blue-dark);
    color: white;
}
.btn:hover{
    opacity: 0.9;
}
/*now change the button*/
.hamburger-off{
    padding: 9px;
    background: url(/Imagenes/closemenu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

/*now lets do it for bigger screens
this code will run only if the screen
width is 700px or large*/
@media screen and (min-width:700px){
    .sticky a{
        color: black;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }
    header ul{
        display: flex;
    }
    header ul li{
        margin: 0;
    }
    header ul li a{
        padding: 0;
        margin: 5px 10px;
        font-size: 0.8em;
    }
    .hamburger-on{
        display: none;
    }
    .logo{
        font-size: 22px;
    }
    
}
/*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*/
main{
    margin: 3em 1em 1em;
    padding: 10px;
    /*background-color: aqua;*/
}


.container {
    
    display: inline-flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100%;
    background-color: rgb(162, 162, 184);
    border-radius: 10px;
}

.caja1 {
    
    transform: rotate(5deg);
    border: 2px black solid;
    padding: 30px;
    height: 45vw;
    width: 40vw;
    background-color: #7d7dab;
}
.caja2 {
    transform: rotate(-5deg);
    border: 2px black solid;
    padding: 30px;
    height: 45vw;
    width: 40vw;
    background-color: #7d7dab;
}
marquee {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(41, 20, 146);
}

.contenedor{
    width: 95%;
    /*max-width: 1000px;*/
    margin: 20px auto;
    display: grid;
    grid-gap: 10px; /*contorno de todo, le da margen, para adentro de la pag*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);

    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "tarjeta1 tarjeta2 tarjeta3"
                         "texto1 texto1 texto1"
                         "img4 img4 texto-stan"
                         "texto2 texto2 texto2"
                         "img3 img3 img3" 
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .tarjeta1,
.contenedor .tarjeta2,
.contenedor .tarjeta3,
.contenedor .texto1,
.contenedor .texto2,
.contenedor .texto-stan,
.contenedor .img3,
.contenedor .img4,
.contenedor .img-texto2,
.contenedor .footer,
.contenedor .contenido
/*si queres trabajar sin clases es sin el punto*/
{
    /*background: #fff;*/
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px; /*opciona dejar o no*/
    position: sticky;
    width: 100%;
    top: 0;
    transition: 250ms;
    z-index: 2;
    
    grid-area: header;
}
.contenedor .contenido{
    grid-area: contenido;
    min-height: unset;
    max-height: unset;
    height: 340px;
    position: relative;
    display: flex;
    align-items: center;
    background: url(../Imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center;
    
    /*grid-column: span 2;*/
    /*para que abarque dos columnas*/
}
.contenido{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
img{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedor .tarjeta1,
.contenedor .tarjeta2,
.contenedor .tarjeta3{
    /*grid-column: 3 / 4;*/
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /*grid-row: 2 / 4;*/
}
/*grid para las estructuras y flexbox para cuando queres acomodar elementos horizontal o vertical*/

.contenedor .tarjeta1{
    grid-area: tarjeta1;
}
.contenedor .tarjeta2{
    grid-area: tarjeta2;
}
.contenedor .tarjeta3{
    grid-area: tarjeta3;
}
.contenedor .texto1{
    background: #55a8fd;
    color: black;
    padding: 1.25rem;
    text-align: center;
    margin: 1.25rem 0 0;
    grid-area: texto1;
}
.contenedor .texto2{
    background: #55a8fd;
    color: black;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    grid-area: texto2;
}
.contenedor .img-texto2{
    padding: 1.25rem;
    align-items: center;
    text-align: center;
    grid-area: img-texto2;
    overflow: hidden;
}
.contenedor .img3{
    width: 100%;
    padding: 1.25rem;
    align-items: center;
    text-align: center;
    grid-area: img3;
    overflow: hidden;
}
.contenedor .img4{
    width: 100%;
    padding: 1.25rem;
    align-items: center;
    text-align: center;
    grid-area: img4;
    overflow: hidden;
}
.texto-stan{
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: var(--blanco);
    grid-area: texto-stan;
}
.contenedor .footer{
    background: #12203e;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    grid-area: footer;

    /*grid-column: span 3;*/
}
footer{
    background: #12203e;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
.copy a{
    color: var(--naranjita);
}
.contenedor-cards{
    width: 100%;
    display: flex;
    /*max-width: 1100px;*/
    grid-area: contenedor-cards;
}
.card{
    width: 700px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--negro);
    color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(255,255,255,255.2);
    cursor: default;
    transition: all 400ms ease;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(255,255,255,255.4);
    transform: translateY(-3%);
}
.card img{
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;/*210px*/
}
.card .texto-cards{
    padding: 15px;
    text-align: left;
}

.card .texto-cards h3{
    margin-bottom: 15px;
}
.card .texto-cards h4{
    text-align: right;
}

p ,h1 ,h2{
    color: var(--blanco);
}
h2{
    text-align: center;
    margin-top: 50px;
}
.movie-tv{
    text-align: center;
}
@media screen and (min-width: 375px){
    .contenido img {
      height: 290px;
  } 
  }
  @media screen and (max-width:1550px) {
      .contenido .parrafo3{
          display: none;
       } 
  }
  @media screen and (max-width:900px) {
      .contenido .parrafo2{
          display: none;
       }
  }
  @media screen and (max-width:400px) {
      .contenido .parrafo1{
          display: none;
       } 
  }
@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "tarjeta1 tarjeta2 tarjeta3"
                            "texto1 texto1 texto1"
                            "img4 img4 img4"
                            "texto-stan texto-stan texto-stan"
                            "texto2 texto2 texto2"
                            "img3 img3 img3" 
                            "footer footer footer";
    }
    
}
